/* website.css */

header {
	text-align: center;
	font-weight: ;
	font-family: Cambria;
	font-size: 20px;
}

#subheader{
	font-family: Cambria;
	font-size: 18px;
	text-align: center;
}


#centerimg {
	display: block;
	margin-left: auto;
    margin-right: auto;
}
