/* website.css 
Kelsey Gilchrist
2/12/15
*/

header {
	text-align: center;
	font-family: Cambria;
	font-size: 25px;
}

body.color {
	background-color: #ECDFEC;

}

#subheader{
	font-family: Cambria;
	font-size: 18px;
	text-align: center;
}

#content {
	font-family: Cambria;
	font-size: 15px;	
}

.center {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.bottom {
	position: fixed;
	bottom: 5px;
}

.subtitle {
	font-family: Cambria;
	font-size: 17px;
	font-weight: bold;
}

.stress {
	font-weight: bold;
}

.italics {
	font-style: italic;
}

.footer {
	font-family: Cambria;
	text-align: center;
	font-size: 14px;
}


#run{
	font-family: Cambria;
	font-size: 15px;
	border-style: dotted;
	text-align: center;
	background-color: #AFEEEE;
}