/* website.css */

header{
	text-align: center;
	font-weight: ;
	font-family: ;
	font-size: ;
}

body {
	font-family: Cambria;
	font-size: 14px;
}

#centerimg {
	display: block;
	margin-left: auto;
    margin-right: auto;
}
